body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #fafafa;
    margin: 0;
}
nav ul {
    display: flex;
    height: 20vh;
    align-items: center;
}

h1 {
    font: normal 50px 'Cookie', cursive;
}

h1 span {
    color: rgb(162, 83, 31);
}

h1 :hover {
    color: #c2c2c2 !important;
}

ul,
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: #2d2c2c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    object-fit: cover;
    font-size: 23px;
}

li a:active {
    background-color: #111;
}

li a:hover {
    color: #c7c7c7;
    background-color: #111;
}

hr {
    height: 5px;
    background-color: #c7c7c7;
    margin-top: 0;
}

h2 {
    text-align: center;
}
   img {
    width: 316.66px;
    height: 216px;
}
table{
	margin-left: 19%;
}
.bikespg tr{
	margin-top: 5%;

}
p{
  
	width: 67%;
	margin-left: 17%;
  font-size: 20px;
    line-height: 1.8em;
    color: #666666;
}
.Bikespg a{text-decoration: none;
           color:darkgray;}
.Demo{
	
	  color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
.Demo h3 span{
	color: rgb(162, 83, 31);
	
}
.Bikespg  img,.imgal{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.Bikespg img:hover {
  opacity: .5;
}
.imgal:hover{
   opacity: .5;
}
.imgal{
   margin-left: 40%;
   margin-top: 5%;
}
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: rgb(162, 83, 31);
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: rgb(162, 83, 31);
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

#slideshow { 
  margin: 50px auto; 
  position: relative; 
  width: 1200px; 
  height: 650px; 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}
.bikeslider{
	height: 650px;
	width: 1200px;
}
.para1{
	   width: 82%;
    margin-left: 9.5%;
    color: grey;
}
.background {
  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.screen-header-left {
  margin-right: auto;
}
.screen-header-right {
  display: flex;
}
.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}
.screen-body {
  display: flex;
}
.screen-body-item {
  flex: 1;
  padding: 50px;
}
.screen-body-item.left {
  display: flex;
  flex-direction: column;
}
.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: darkgray;
  font-size: 26px;
}
.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}
.app-form-group {
  margin-bottom: 15px;
}
.app-form-group.message {
  margin-top: 40px;
}
.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}
.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}
.app-form-control::placeholder {
  color: #666;
}
.app-form-control:focus {
  border-bottom-color: #ddd;
}
.app-form-button {
  background: none;
  border: none;
  color: darkgray;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.app-form-button:hover {
 color: rgb(162, 83, 31);
}
.app-title span:hover {
 color: rgb(162, 83, 31);
}

@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: 'Karla', sans-serif;
  color: #333;
}
#price-range {
  width: 370px;
  margin: 10px auto 30px auto;
  text-align: center;
  font-weight: bold;
}

#value-min, #value-max {
  width: 100px;
  border: none;
  background-color: #f1f1f1;
  font-family: 'Karla', sans-serif;
}

#slider { margin: 30px 0 30px 0; }

/* Filter and search options */

#buttons, #search {
  text-align: center;
  margin-bottom: 30px;
}

/* Filter buttons */

button {
  background-color: #d7d7d7;
  margin: 5px 2px;
  border: none;
  padding: 3px 10px 4px 10px;
  border-radius: 4px;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-size: 100%;
}

button:hover, button.active {
   color: rgb(162, 83, 31);
  cursor: pointer;
}

/* Search input */

input {
  font-size: 120%;
  border: 1px solid #999;
  padding: 5px;
}

input:hover { border: 1px solid #666; }

input:focus {
  border: 1px solid #00cccc;
  outline: none;
}

/* Gallery of images */

#gallery {
  text-align: center;
  max-width: 1020px;
  margin: 0 auto;
}

#gallery img {
  width: 300px;
  height: 200px;
  border-radius: 3px;
  border: 8px solid #fff;
  margin: 6px;
}

/* Table styles */

table {
  margin: 0 auto;
  width: 780px;
}

table#rates { width: 380px; }

th, td {
  border-radius: 3px;
  color: #333;
  padding: 7px 10px 5px 10px;
  min-width: 9em;
  text-align: left;
}

th {
  background-color: #d7d7d7;
  font-weight: bold;
  text-transform: uppercase;
}

td { background-color: #fff; }

table.sortable th:hover { cursor: pointer; }

th.ascending, th.descending, table.sortable th:hover {
  background-color: #00cccc;
  color: #fff;
}

/* Arrows for table sorting */

th.ascending:after {
  font-size: 60%;
  content: '\25B2';
  float: left;
  padding: 4px 5px 0 0;
}

th.descending:after {
  font-size: 60%;
  content: '\25BC';
  float: left;
  padding: 4px 5px 0 0;
}

.about {
  width: 780px;
  margin: 0 auto 40px auto;
}

.about:after {
  content: "";
  display: table;
  clear: both;
}

.about h2 {
  text-align: left;
  float: left;
}

.bio {
  float: right;
  width: 195px;
}

.bio img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.location {
  padding-left: 74px;
  background-image: url('../img/pointer.png');
  background-repeat: no-repeat;
  background-position: 60px 1px;
  font-size: 90%;
}
